.service-modal-body {
    display: -webkit-box;
}

.request-input {
    display: block;
    margin-bottom: 2%;
}

.modal-comment-area {
    padding: unset;
    font-size: 13px;
    height: 60px;
    width: 100%;
    border: 1px solid darkslategray;
    margin-bottom: 3%;
}

.upload-button {
    font-style: italic;
}

.comment {
    color: dimgray;
}

.btn-custom {
    background-color: firebrick;
    color: white;
}