
#detail-type, #detail-size {
    background-color: white;
    font-family: serif;
    height: 35px;
    display: block;
    width: 13em;
    margin-bottom: 12%;
}

.count-input {
    display: block;
}

#detail-name {
    font-size: 25px;
    margin-top: 20%;
    font-family: serif;
    font-weight: 800;
}

.selection {
    margin-top: 6%;
    font-weight: 600;
    display: block;
    font-family: -webkit-body;
}

#add-to-cart {
    border: black;
    background-color: black;
    margin-top: 12%;
}
