#cart-modal {
    display: block !important;
}

#order-table-header {
    height: 30px;
    background: lightgray;
}

.order-item-header-first {
    padding: 5px;
}

.order-item-header-rm {
    color: transparent;
}


.order-item-prop-image img {
    width: 75px;
}

.cart-input {
    width: 40%;
    padding: 5px;
    margin-bottom: 5%;
    height: unset;
}

.remove-order-item {
    color: black;
    font-size: 120%;
    cursor: pointer;
}

.container-sum {
    margin-top: 5%;
    text-align: right;
    display: grid;
    border-bottom: 2px solid black;
}

.comment-and-order {
    display: grid;
}

.contact-info {
    display: grid;
}

.comment-for-order {
    padding: unset;
    margin-bottom: 2%;
}

.comment-area {
    padding: unset;
    font-size: 13px;
    height: 60px;
    border: 1px solid darkslategray;
    margin-bottom: 3%;
}

.send-request-button {
    width: fit-content;
    background-color: firebrick;
    color: white;
}

.contact-details-title {
    color: gray;
    padding: unset;
    margin-bottom: 3%;
}

.cart-text {
    padding: unset;
    color: black;
    font-size: 13px;
    margin-bottom: 3%;
}

.radio-person {
    margin-bottom: 30px;
}

.radio-button {
    color: gray;
    font-weight: normal;
}

.rorganization, .rperson {
    vertical-align: sub;
    margin-right: 2% !important;

}

.rperson {
    margin-bottom: 15% !important;
}