.separator {
    border-bottom: 1px solid gray
}

.search-category,
.search-products {
    font-size: 20px;
    font-style: italic;
}

.category-item {
    color: dimgray;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
}

.category-litem {
    display: block;
}