.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    margin-left: 30%;
    color: white;
    visibility: hidden;
}
.dropdown-item {
    display: -webkit-box;
    margin-left: 10%;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;
}

.dropdown-head {
    text-decoration: underline;
    font-family: initial;
    color: brown;
}

#dropdown-services-title {
    font-size: 20px;
    color: dimgray;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid dimgray;
}

#dropdown-services {
    display: -webkit-box;
}

#block1 {
    width: 50%;
    margin-top: 3%;
}
#block2 {
    width: 50%;
    margin-top: 3%;
}