.loader-container {
    max-width: 25%;
    height: 200px;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    margin: auto;
}

.loader-span {
    font-style: italic;
    font-size: 30px;
}

#category-list {
    padding: unset;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    width: 80%;
}

.category-list-item {
    max-height: 270px;
    max-width: 230px;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 245px;
    border: 1px solid black
}

.list-item {
    display: inline-block;
    padding: 20px;
}

.category-info-container {
    text-align: center;
    position: relative;
}

.category-item-code {
    font-size: large;
    font-style: italic;
    font-family: cursive;
    color: darkslategray;
}

.load-button {
    background-color: firebrick;
    color: white;
    margin: auto;
    display: -webkit-box;
}
