
#design-gallery-list {
    text-align: center;
}
.design-gallery-item {
    max-height: 200px;
    margin-top: 3%;
    margin-right: 3%;
    border: 1px solid black;
}

.gallery-list-item {
    margin-right: 5%;
    display: inline-block;
}

.gallery-category-name {
    display: block;
}

#design-gallery-title {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: dimgray;
    margin-top: 3%;
    margin-bottom: 5%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}