.information-text {
    white-space: pre-wrap;
    font-style: italic;
    color: black;
    font-family: serif;
    font-size: 16px;
}

.button-image-container {
    text-align: center;
}

.information-image {
    width: 30%;
    display: block;
    margin: auto;
}

.info-send-request-button {
    background-color: firebrick;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
}