.footer-item {
    display: block ;
    margin-top: 1em;
    color: white;
    font-size: 1vw;
}
.footer-item-first {
    font-size: 1vw;
}

.subscribe-control {
    border-radius: 4px;
    height: 32px;
    width: 50%;
    display: inline;
}
#subscribe-button {
    background-color: white;
    color: black;
    margin-left: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

#subscribe-title, #find-us {
    color: white;
    font-weight: 600;
    padding-left: unset;
    text-decoration: underline;
    font-family: serif;
    font-size: 1.2em;
}

#footer-find-us {
    width: 30%;
}

#footer {
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px 6px 0px 0px;
    line-height: 2em;
    bottom: 0;
    margin-top: 2%;
    background: black;
    height: fit-content;
}

.glyph-icon {
    font-size: 15px;
    color: white;
    padding-right: 1%;
}

.footer-span {
    font-size: 15px;;
}

#email-input {
    height: 3vw;
}

#facebook-icon, #twitter-icon,
#youtube-icon, #vk-icon,
#instagram-icon {
    color: white;
    font-size: 35px;
    margin-right: 2%;
    display: inline;
}
