.my-carousel {
    height: 45em;
}

.carousel {
    height: 74.7% !important;
}

.carousel-footer {
    background-color: transparent !important;
    height: 130px !important;
}

.carousel-main span img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

@media only screen and (max-width: 600px) {
    .carousel-main span img {
        background-color: white;
        height: 50%;
        object-fit: scale-down;
    }
    .carousel {
        height: 50%!important;
    }
}