html {
    height: 100%;
}

.app {
    min-height: 700px;
}

#main-image {
    height: 400px;
    position: relative;
    -webkit-transition: transform 2s ease-in-out;
}

#novelties {
    margin: auto;
    padding: 10px;
    color: dimgray;
    margin-top: 3%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

#main-image-container {
    text-align: center;
}

#home-page {
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.localize-item {
    float: right;
    color: white;
    text-decoration: underline;
    margin-right: 8px;
    cursor: pointer;
}

#tops {
    background-color: black;
    color: black;
}

#last-products {
    text-align: center;
}

.slider-slide img {
    object-fit: cover;
}