#about-block {
    text-align: center;
}

.about-text {
    font-size: 18px;
    font-style: italic;
    text-shadow: 0 1px 1px #fff;
    text-align: left;
    margin: auto;
    margin-bottom: 2%;
}
.about-us-image {
    width: 30%;
}

#about-title, #about-mission {
    font-family: cursive;
}

#about-us-title {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: dimgray;
    margin-top: 3%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}