#topbar {
    background-color: black;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: unset;
    border-radius: unset;
}
.topbar-item {
    width: 12%;
    text-align: center;
}
.topbar-item > a:focus {
    background-color: black !important;
}
.topbar-item > a, .topbar-item > a > a{
    color: white !important;
}
.navbar-collapse.in {
    background-color: black;
    z-index: 9999;
    position: relative;
}
#topbar-menu {
    width: 100%;
}
#search-input {
    color: black;
    border-radius: 4px;
}
.linkTo {
    color: white;
}
.linkTo, .linkTo:hover, .linkTo:visited, .linkTo:active {
    color: inherit;
    text-decoration: inherit;
}

#shopping-cart {
    font-size: 160%;
    color: white;
    cursor: pointer;
}

#shopping-cart-text {
    margin-left: 4%;
    vertical-align: super;
}

#block1 label:hover{
    text-decoration: underline;
    color: firebrick;
    cursor: pointer;
}
#block2 label:hover{
    text-decoration: underline;
    color: firebrick;
    cursor: pointer;
}

.dropdown-menu {
    background-color: white !important;
    width: 30em !important;
}


.dropdown-menu>li>a:hover {
    background-color: white !important;
}