
.page-header{
    margin: 5px;
}
.signup-title {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: dimgray;
    margin-top: 3%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
.signup-phrase {
    font-family: cursive;
    text-align: center;
    color: brown;
}
#text-block {
    margin-left: 5px;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
}

#facebook-i, #pinterest-i,
#instagram-i, #vk-i,
#youtube-i {
    font-size: 300%;
    margin-right: 1%;
    margin-left: 5px;
}

.register-main {
    padding: 10px;
}

.btn-register {
    margin-top: 5px;
}

#social, #phone {
    text-align: center;
}
#find-us-contact, #phone-us {
    margin: auto;
    padding: 10px;
    text-align: center;
    color: dimgray;
    margin-top: 3%;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
.register-control {
    margin: 5px;
    height: 40px;
    width: 53%;
}
.btn-register {
    margin: 7px;
}
#btn_sign_up {
    background-color: black;
    border-color: black;
}

#numbers {
    text-align: center;
}

#number-all {
    display: block;
    font-size: 20px;
    font-family: cursive;
    white-space: pre-wrap;
}
.register-block {
    display: -webkit-box;
}
.field-error {
    max-width: 100%;
    display: block;
    color: #d60823;
    font-weight: 300;
}

#number {
    font-size: 23px;
}

.modal-dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}