.last-products-item {
    max-height: 250px;
    margin-top: 3%;
    margin-right: 3%;
    border: 1px solid black;
}

#images-list {
    padding-left: 0px;
    width: 100%;
    display: block;
}

.last-product-info-container {
    text-align: center;
    position: relative;
}
